<!DOCTYPE html>
<html id="page" lang="{{ .Site.LanguageCode }}" prefix="og: https://ogp.me/ns#">
  {{ block "variables" . }}{{ end }}
  {{ partial "head.html" . }}
  <body>
    <header class="[ navbar ]" id="navbar">
      <div class="[ wrapper ][ flex between middle ]">
        <a class="[ logo ]" href="/" title="Home" aria-label="Home" data-prefetch>
          {{- readFile "static/icons/logo.svg" | safeHTML }}
        </a>
        <nav class="[ nav ]">
          <ul class="[ menu ][ flex ]">
              <li class="[ menu__item ]">
                <a class="[ menu__link ]{{ if or (eq .RelPermalink "/blog/") .Params.post }}[ current ]{{ end }}" href="/blog/" data-prefetch>Blog</a>
              </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="[ main ]{{- if eq .Page.Kind "404" -}}[ error ]{{- end -}}" id="main">
      {{- block "main" . -}}{{- end -}}
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "notice.html" . -}}
    {{partial "script.html" (dict "path" "scripts/components/prefetch.js" "targetPath" "scripts/prefetch.js" "attributes" (dict "defer" true))}}
    {{- if or .IsHome ( .Store.Get "hasObscure" ) }}
    {{ partial "script.html" (dict "path" "scripts/components/obscure.js" "targetPath" "scripts/obscure.js" "attributes" (dict "defer" true)) }}
    {{- end -}}
    {{- if .Store.Get "hasYouTube" -}}
    {{
      $attributes := dict
        "module" true
        "defer" true
      }}
      {{ partial "script.html" (dict "path" "scripts/vendor/lite-youtube.js" "targetPath" "scripts/lite-youtube.js" "attributes" $attributes) }}
    {{- end -}}
    {{ partial "script.html" (dict "path" "scripts/components/notice.js" "targetPath" "scripts/notice.js" "attributes" (dict "defer" true)) }}
  </body>
</html>